.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 200px;
    color: lightgray;;
    background: white;
    
}

.footer-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-top: 1px solid lightgray;
}


.footer li a {
    text-decoration: none;
    color: black;
    padding: 4px 8px;
    transition: background-color 0.3s ease;
    border-radius: 16px;
    
}

    .footer li a:hover {
        color: white;
        padding: 8px 24px;
        background-color: lightgray;
        border-radius: 16px;
    }