.toggle img {
    text-decoration: none;
    padding: 4px 4px;
}

.right-group a {
    text-decoration: none;
    color: black;
    padding: 4px 8px;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
    border-radius: 16px;
}

    .right-group a h1:hover {
        background-color: lightgray;
        color: red;
        padding: 8px 24px;
        border-radius: 16px;
}

.home a {
    text-decoration: none;
    color: black;
    padding: 4px 8px;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
    border-radius: 16px;
}

.home a h1:hover {
    background-color: lightgray;
    color: red;
    padding: 8px 24px;
    border-radius: 16px;
}




.toggle img:hover {
    background: lightgray;
    color: black;
    padding: 4px 4px;
    border-radius: 16px;
    transition: background-color 0.3s ease;
    
}


html.dark {
    background-color: black;
    color: white;
}

html.light {
    background-color: white;
    color: black;
}


html.dark .footer, #footer-nav h1 {
    background-color: black;
    color: white;
}

html.light .footer, #footer-nav h1 {
    background-color: white;
    color: black;
}



        html.dark .footer li a {
            color: white;
        }

                html.dark .footer li a:hover {
            color: red;
            padding: 8px 24px;
                }

        html.light .footer li a:hover {
            color: red;
            padding: 8px 24px;
        }

        html.light .footer li a {
            color: black;
        }



.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 200px;
    color: lightgray;;
    background: white;
    
}

.footer-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-top: 1px solid lightgray;
}


.footer li a {
    text-decoration: none;
    color: black;
    padding: 4px 8px;
    transition: background-color 0.3s ease;
    border-radius: 16px;
    
}

    .footer li a:hover {
        color: red;
        padding: 8px 24px;
        background-color: lightgray;
        border-radius: 16px;
    }

